{{cle}}

{% for cust in customers %}
<hr> {{cust.name}} - {{cust.last_name}}
{% endfor %}

<div style="border: 1px solid black;">
  {% for order in orders %}
  <hr>
  Client: {{order.customer}}
  {% for item in order.lines.all %}
  <div>
    qte:{{item.quantity}} | prix: {{item.price_per_unit}} 
  </div>
  {% endfor %}
  {% endfor %}
</div>
